body {
  height: 100%;
}

figure {
  display: block;
  width: 18%;
  margin: 0 auto;
}

.textfield {
  background-color: transparent;
  color: #FFF;
}

hr {
  background-color: #def3ff;
}

.txt-input {
  color: #def3ff;
}

@media screen and (max-width: 480px) {
  .txt-size-5 {
    font-size: 2.4em;
  }
}
